<%= form_for(@donor) do |f| %>
  <% if @donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor.errors.count, "error") %> Oops!Looks like an error:</h2>

      <ul>
      <font color="black">
      <% @donor.errors.full_messages.each do |message| %>
        <li><font color="black"><%= message %></font></li>
      <% end %>
      </font>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <font color="black"><%= f.text_field :name%></font>
  </div>
  <div class="field">
    <%= f.label :blood_group %><br>
    <font color="black"><%= f.select :blood_group, Donor::BLOOD_GROUP %></font>
  </div>
  <div class="field">
    <%= f.label :Date_of_birth %><br>
    <font color="black"><%= f.text_field :dob %></font>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <font color="black"><%= f.select :state, Donor::STATE %></font>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <font color="black"><%= f.text_field :city %></font>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <font color="black"><%= f.text_field :address %></font>
  </div>

  <div class="field">
    <%= f.label :last_blood_donated %><br>
     <font color="black"><%= f.text_field :last_blood_donated %></font>
    
  </div>
  <div class="field">
    <%= f.label :contact_number %><br>
    <font color="black"><%= f.text_field :contact_number %></font>
  </div>
  <div class="field">
    <%= f.label :email_id%><br>
    <font color="black"><%= f.text_field :email_id %></font>
  </div>  
  <div class="field">
    
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit",:class => "btn btn-default" %>
  </div>
<% end %>
<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>

